* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

.nav ul {
    margin-bottom: 0;
}

.nav-logo {
    /* width: 20%; */
    display: flex;
    height: 40px;
    align-items: center;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    font-size: calc(0.75vw + 15.6px);
}

/* .nav-link {
    display: flex;
    align-items: center;
    list-style: none;
} */

.nav-link-subitems {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(115, 199, 199);
}

.link-subitem:hover {
    background-color: yellow;
}

.humberger {
    display: none;
}

.background-area {
    max-height: 600px;
    display: block;
    width: 100%;
}

.bankground-img {
    display: block;
    width: 100%;
    background: url('./component/banner.jpg');
    background-size: cover;
    height: 600px;
    /* background-position: 50% 15%; */
}

.divider-title {
    font-size: calc(1.25vw + 26px);
    text-align: center;
}

.swiper {
    margin: 0 auto;
}

.swiper-item {
    width: 100%;
}

.footer-title {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.card-wrapper {
    border: 1px solid;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
}

.card-circle-block {
    margin: 40px 0 40px 50px;
    display: inline-block;
}

.card-circle {
    border: 1px solid red;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    overflow: hidden;
}

.card-circle-img {
    width: 100%;
}

.card-main {
    margin-left: 40px;
    display: inline-block;
    position: absolute;
}
.card-title {
    margin-top: 40px;
    font-size: calc(0.375vw + 22.8px);
}

.cardBlock {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
}

.cardImages {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.display-none {
    display: none;
}

/* .cardImage {
    max-width: 25%;
} */

.handMadeImage {
    width: 100%;
}

.img {
    width: 80%;
    margin: 5px 10%;
}

.mask {
    background: rgba(0,0,0,0.4) !important;
    z-index: 10;
    height: 100vh;
    position: fixed;
    width: 100vw;
}
.selectMask-box{
    background: rgba(0,0,0,0);
    transition: all .2s linear
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    
}

@media screen and (min-width: 769px) and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
    html, body {
        position:relative;
	    overflow-x: hidden;
    }
    .card-wrapper {
        max-width: 80%;
    }
    .card-circle-block {
        height: 60px;
        width: 60px;
        margin: 10px 60px 10px 12.5px;
    }
    .card-title {
        margin-top: 0px;
    }
    .mobile-card-main {
        display: block;
        position: relative;
        margin-top: 10px;
        margin-left: 20px;
    }
    .humberger {
        cursor: pointer;
        display: block;
    }
    .nav-line {
        width: 30px;
        height: 3px;
        background: blue;
        margin: 5px;
    }
    .nav-link-subitems {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgba(111, 186, 217, 0);
    }
    .nav-button {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .bankground-img {
        height: 300px;
    }
    .cardImages {
        margin: 0;
    }
    .mobile-block {
        display: block;
    }
    .mobile-inline-block {
        display: inline-block;
    }
    .mobile-none {
        display: none;
    }
    .mobile-sm-btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
    .mobile-margin-top-50 {
        margin-top: 50px;
    }
}

.bk-white {
    background-color: white;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-right-10 {
    margin-right: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.max-width-1440 {
    max-width: 1440px;
}

.relative {
    position: relative;
}
